* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



header {
    position: fixed;
    height: auto;
    min-height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(13, 202, 240, 1) 100%);
    padding: 10px 0; /* Adicionei um padding para espaçar os elementos */
    min-height: 80px;
    padding-left: 5px;
    padding-right: 40px;
    
}

.navbar-brand {
    margin-right: auto; /* Mantém a logo à esquerda */
    margin-left: 12px;
    background: #f8f8f8;
    width: 65px; /* Defina o mesmo valor para largura e altura para fazer um círculo */
    height: 65px;
    
}







::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */

}

::-webkit-scrollbar-thumb {
    background-color:rgb(208, 208, 208); /* Cor da parte arrastável da barra de rolagem */
    border-radius: 5px; /* Raio dos cantos da parte arrastável */
}

.imgLogo {
    height: 12vh;
}

.imgLogoOfCanvas {
    height: 15vh;
}

.iconMenu {
    font-size: 30px;
    color: cornflowerblue;
}

.navbar-brand {
    position:absolute;
    left: 0;
   
}

.nav_link_1 {
    margin-top: 25px;
}

.nav-link {
    margin-top: 25px;
}


.offcanvas-body {
    margin-top:50px;
}


.fixed-menu {
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem; /* Largura do menu */
    background-color: #fff; /* Cor de fundo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1050; /* Certifique-se de que o menu fique acima do conteúdo principal */
    overflow-y: auto; /* Adicionar rolagem vertical, se necessário */
}

.fixed-menu-secondary {
    height: 100vh;
    margin-left: 100px;
}



main {
    min-height: 70vh;
    position: relative;
}

.menu-button {
    position: relative;
    display: inline-block;
    margin-right: auto; /* Adicionado para empurrar o menu para a esquerda */
    margin-left: 10px;
}

.menu-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.menu-button:hover .menu-text {
    opacity: 1;
}

.contentMenu a,
.contentMenu2 a,
.contentMenuTwo a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease; /* Ajuste a velocidade da transição aqui */
}

    .contentMenu a:hover,
    .contentMenu2 a:hover,
    .contentMenuTwo a:hover {
        background-color: #f8f8f8;
        color: #007BFF;
    }


#openMenu {
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s, cursor 0.2s;
}

    #openMenu:hover {
        transform: scale(1.1); 
        cursor: pointer; 
    }

.offCanvasMenu {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 13rem;
}

.card-collapse {
    background-color: #f8f9fa;
    border: none;
}

.contentMenu {
    padding: 10px 0;
    overflow: hidden;
}


.contentMenu2 {

    padding: 0 5px;
    overflow: hidden;
}

    ul {
        margin-bottom:0;
    }

.card-body {
    padding: 0;

}

.contentMenuTwo {
    padding: 10px 0;
    overflow: hidden;
}

    .contentMenu, .contentMenuTwo li, #menuUser, .contentMenu2 li {
        list-style: none;
    }

    .contentMenu a, #menuUser {
        text-decoration: none;
        color: #333;
        padding: 10px 0;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

.contentMenu2 a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content-area {
    margin-top: 100px;
    margin-left: 15rem; /* Largura do menu lateral */
    padding: 20px;
}

.contentMenuTwo a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .contentMenu a:hover {
        background-color: #f8f8f8;
        color: #007BFF;
    }

   



.icon-large {
    font-size: 2rem;
    color: #000000;
}


.nav_name {
    font-weight: bold;
    margin-left:10px;
}

.footerMenu {
    height: auto;
}

footer {
    min-height: 15vh;
    background: rgb(13, 202, 240);
    background: linear-gradient(90deg, rgba(13, 202, 240, 1) 0%, rgba(208, 208, 208, 1) 100%);
}

    footer a {
        text-decoration: none;
        color: inherit;
    }


