@model AGENDAHUB.Models.ConfiguracaoUsuarioViewModel

<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Informações Cadastrais";
}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="container">

                <a asp-controller="Account" asp-action="Index" class="btn btn-outline-info" id="btnNovoUsuario">Cadastrar Usuario</a>
                <br />
                <a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info mt-2" id="btnNovoProfissional">Cadastrar Profissional</a>

                <ul class="contentMenu">
                    <li class="nav-item">
                        <a class="nav-link form-Partial active" asp-area="" asp-controller="Configuracao" asp-action="Edit" asp-route-section="InformacoesCadastrais">
                            Informações Cadastrais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInformacoesEmpresariais" asp-route-section="InformacoesEmpresariais">
                            Informações Empresariais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInforAtendimento" asp-route-section="EditInforAtendimento">
                            Informações de Atendimento
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h2 class="text-center">Configurações da Conta</h2>
           
            <form asp-action="Edit" asp-controller="Configuracao" method="post" enctype="multipart/form-data">

         

                <div class="form-group pt-2">
                    <label class="mt-2 me-2" for="NomeUsuario">Usuario</label>
                    <div class="pt-2">
                        <input asp-for="Usuario.NomeUsuario" class="form-control" />
                        <span asp-validation-for="Usuario.NomeUsuario" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Usuario.Email" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Usuario.Email" class="form-control" />
                        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Usuario.Senha" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Usuario.Senha" class="form-control" placeholder="Não exibida por segurança" required />
                        <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-outline-info">Salvar</button>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Account" asp-route-id="@Model.Usuario.Id">
                            Excluir
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

